*.swp
dataset/source.gz
training/bin
training/generate_wav.sh
training/pronunctiation.txt
training/transcription
training/training_*.txt
training/wav_list.txt
training/raw
training/png
training/wav
training/network.fann
training/network_*
testing/network.fann
testing/bin
testing/png
testing/wav
testing/raw
testing/data.js
testing/network_*
testing/output.txt
testing/wav_list.txt


