dataset/source.gz
training/bin
training/generate_wav.sh
training/pronunctiation.txt
training/transcription
training/training_*.txt
training/wav_list.txt
training/raw
training/png
training/wav
training/network.fann
*.swp
